In [1]:
import pandas as pd
df_interview=pd.read_csv("final_output.csv")
df_interview

,frame_number,speaker,timestamp,length,value,file_name
0,0,SPEAKER_00,2.70,16.69,I'm going to kind of introduce myself. So I'm...,Participant 12
1,0,SPEAKER_00,20.37,21.90,I did my master's at the University College o...,Participant 12
2,0,SPEAKER_00,43.38,6.72,regardless of the hurricanes and sometimes th...,Participant 12
3,0,SPEAKER_01,50.64,3.68,I've been watching hurricanes come at my brot...,Participant 12
4,0,SPEAKER_00,54.96,1.40,"Okay, so what...",Participant 12
...,...,...,...,...,...,...
7344,0,SPEAKER_00,3153.68,7.22,"Sure. And I mean, I know Mike well, so I'll k...",Participant 16
7345,0,SPEAKER_01,3158.85,0.24,Yeah.,Participant 16
7346,0,SPEAKER_01,3161.78,1.59,Take care. Have a good one.,Participant 16
7347,0,SPEAKER_00,3162.74,3.70,"Thank you, Julie. Thanks, Annabel. Cheers. By...",Participant 16
7348,0,SPEAKER_01,3166.44,0.54,Bye.,Participant 16

In [2]:
replacement_dict = {
    'Participant 1_Part 1': 'Participant 1',
    'Participant 1_Part 2': 'Participant 1',
    'Participant 2_Part 1': 'Participant 2',
    'Participant 2_Part 2': 'Participant 2'
}

# Replace values in the filename column
df_interview['file_name'] = df_interview['file_name'].replace(replacement_dict)

In [3]:
df_interview=df_interview[~df_interview["value"].isna()]

In [4]:
conditions = [
    ("SPEAKER_01", "Participant 19"),
    ("SPEAKER_01", "Participant 18"),
    ("SPEAKER_02", "Participant 17"),
    ("SPEAKER_00", "Participant 16"),
    ("SPEAKER_01", "Participant 15"),
    ("SPEAKER_01", "Participant 14"),
    ("SPEAKER_02", "Participant 13"),
    ("SPEAKER_01", "Participant 12"),
    ("SPEAKER_02", "Participant 11"),
    ("SPEAKER_01", "Participant 10"),
    ("SPEAKER_00", "Participant 9"),
    ("SPEAKER_00", "Participant 8"),
    ("SPEAKER_01", "Participant 7"),
    ("SPEAKER_00", "Participant 6"),
    ("SPEAKER_01", "Participant 5"),
    ("SPEAKER_02", "Participant 4"),
    ("SPEAKER_00", "Participant 3"),
    ("SPEAKER_01", "Participant 2"),
    ("SPEAKER_01", "Participant 1")
]

df_interview = df_interview[df_interview[['speaker', 'file_name']].apply(tuple, axis=1).isin(conditions)]

In [5]:
df_interview.groupby(['file_name', 'speaker']).size().reset_index(name='count')

         file_name     speaker  count
0    Participant 1  SPEAKER_01    316
1   Participant 10  SPEAKER_01    176
2   Participant 11  SPEAKER_02    447
3   Participant 12  SPEAKER_01    177
4   Participant 13  SPEAKER_02    197
5   Participant 14  SPEAKER_01    137
6   Participant 15  SPEAKER_01    175
7   Participant 16  SPEAKER_00    187
8   Participant 17  SPEAKER_02    272
9   Participant 18  SPEAKER_01    157
10  Participant 19  SPEAKER_01    102
11   Participant 2  SPEAKER_01    101
12   Participant 3  SPEAKER_00    182
13   Participant 4  SPEAKER_02    215
14   Participant 5  SPEAKER_01    167
15   Participant 6  SPEAKER_00    137
16   Participant 7  SPEAKER_01    742
17   Participant 8  SPEAKER_00    400
18   Participant 9  SPEAKER_00    326

In [7]:
df_interview=df_interview[["file_name","value"]]

In [8]:
df_interview.head()

         file_name                                              value
3   Participant 12   I've been watching hurricanes come at my brot...
5   Participant 12   I'm very familiar with that. I'm familiar. I ...
8   Participant 12                     I hope that's the way it goes.
10  Participant 12                              Yeah, I'd be glad to.
11  Participant 12                                               Bye!

In [3]:
phrase=['research', 'academia', 'theory', 'practical', 'theoretical', 'experience', 'hybrid', 'practitioners', 'academics', 'hypothesis', 'practitioner', 'practice', 'theoreticians', 'theoretician', 'theorizing', 'theories', 'practically', 'literature', 'theoretically', 'academy', 'activities', 'researching', 'academics', 'training', 'skills', 'knowledge', 'practitioner', 'work', 'academia', 'thinking', 'theoretician', 'interested', 'practical', 'field', 'knowledge', 'interact', 'practitioners', 'skills', 'teach', 'research', 'academics', 'researching', 'practice', 'researcher', 'reading', 'contribute', 'education', 'experience', 'activities', 'academy', 'sounds', 'sociology', 'leader', 'curious', 'training', 'relationship', 'collaborative', 'theoretical', 'contributing', 'practicing', 'experienced', 'sociologist', 'scientist', 'institution', 'nature', 'challenges', 'opportunities', 'influence', 'support', 'educator', 'analysis', 'interaction', 'universities', 'perspective', 'theoretically', 'developing', 'theology', 'practically', 'organization', 'literature', 'therapist', 'reasons', 'sciences', 'opportunity', 'methodology', 'engineering', 'comfortable', 'theory', 'reason', 'struggling', 'theories', 'papers', 'theorizing', 'mutuality', 'complex', 'discussing', 'associate', 'resource', 'difficulties', 'schools', 'project', 'strategies', 'direction', 'component', 'practices', 'fundamental', 'review', 'interviewed', 'scientific', 'risk', 'observing', 'gathering']

In [5]:
len(set(phrase))

89

In [22]:
df_interview

           file_name                                              value
3     Participant 12   I've been watching hurricanes come at my brot...
5     Participant 12   I'm very familiar with that. I'm familiar. I ...
8     Participant 12                     I hope that's the way it goes.
10    Participant 12                              Yeah, I'd be glad to.
11    Participant 12                                               Bye!
...              ...                                                ...
7338  Participant 16                                              Okay.
7339  Participant 16   Yeah, no, I'm sure there are I can't believe ...
7342  Participant 16                                           You too.
7344  Participant 16   Sure. And I mean, I know Mike well, so I'll k...
7347  Participant 16   Thank you, Julie. Thanks, Annabel. Cheers. By...

[4613 rows x 2 columns]

In [44]:
import re
result_df = pd.DataFrame(columns=['text', 'word', 'masked_text'])
a=0
for _, row in df_interview.iterrows():
    a=a+1
    if(a%100==0):
        print(a)
    text = row['value']
    phrase_positions=[]
    for word in phrase:
        text=text.lower()
        word=word.lower()
        if word in text:
            
            # Find all occurrences of the word in the text
            matches = list(re.finditer(r'\b' + re.escape(word) + r'\b', text))
            for match in matches:
            
                phrase_positions.append((match.start(), match.end(), word))
    phrase_positions.sort(key=lambda x: (x[0], x[1] - x[0]), reverse=True)
    filtered_positions = []
    for i, (start_i, end_i, phrase_i) in enumerate(phrase_positions):
        is_redundant = False
        for j, (start_j, end_j, phrase_j) in enumerate(phrase_positions):
            if i != j and start_j <= start_i and end_i <= end_j:
                
                
                is_redundant = True
                break
        if not is_redundant:
            
            filtered_positions.append((start_i, end_i, phrase_i))
    filtered_positions.sort(key=lambda x: x[0])
    count=0
    # Create masked tweets
    if filtered_positions:
        for start, end, word in filtered_positions:
            masked_tweet = text[:start] + '[MASK]' + text[end:]
            
            
            new_row = {
                'text': text,
                'word': word,
                'masked_text': masked_tweet
                #,
                #'stance': stance
            }
            result_df = pd.concat([result_df, pd.DataFrame([new_row])], ignore_index=True)

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600

In [46]:
result_df

,text,word,masked_text
0,began as a practitioner.,practitioner,began as a [MASK].
1,i was actually a first grade teacher in albuq...,research,i was actually a first grade teacher in albuq...
2,i was actually a first grade teacher in albuq...,institution,i was actually a first grade teacher in albuq...
3,and the thing that really transformed my care...,schools,and the thing that really transformed my care...
4,"they asked, i had played my, we have another ...",education,"they asked, i had played my, we have another ..."
...,...,...,...
3248,it would be an interesting piece of work to u...,work,it would be an interesting piece of [MASK] to...
3249,it would be an interesting piece of work to u...,work,it would be an interesting piece of work to u...
3250,and have therefore been excluded from academi...,work,and have therefore been excluded from academi...
3251,"yeah, no, i'm sure there are i can't believe ...",support,"yeah, no, i'm sure there are i can't believe ..."
3252,"yeah, no, i'm sure there are i can't believe ...",work,"yeah, no, i'm sure there are i can't believe ..."

In [47]:
a=result_df["word"].to_list()
len(a)

89

In [49]:
a.sort()

In [50]:
print(a)

['academia', 'academics', 'academy', 'activities', 'analysis', 'associate', 'challenges', 'collaborative', 'comfortable', 'complex', 'component', 'contribute', 'contributing', 'curious', 'developing', 'difficulties', 'direction', 'discussing', 'education', 'educator', 'engineering', 'experience', 'experienced', 'field', 'fundamental', 'gathering', 'hybrid', 'hypothesis', 'influence', 'institution', 'interact', 'interaction', 'interested', 'interviewed', 'knowledge', 'leader', 'literature', 'methodology', 'mutuality', 'nature', 'observing', 'opportunities', 'opportunity', 'organization', 'papers', 'perspective', 'practical', 'practically', 'practice', 'practices', 'practicing', 'practitioner', 'practitioners', 'project', 'reading', 'reason', 'reasons', 'relationship', 'research', 'researcher', 'researching', 'resource', 'review', 'risk', 'schools', 'sciences', 'scientific', 'scientist', 'skills', 'sociologist', 'sociology', 'sounds', 'strategies', 'struggling', 'support', 'teach', 'theology', 'theoretical', 'theoretically', 'theoretician', 'theoreticians', 'theories', 'theorizing', 'theory', 'therapist', 'thinking', 'training', 'universities', 'work']

In [51]:
df=result_df

import torch
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
from torch.utils.data import DataLoader
from datasets import Dataset
import pandas as pd
from tqdm import tqdm
from transformers import DataCollatorWithPadding

from transformers import AutoTokenizer, AutoModelForSeq2SeqLM


model_path = "google/flan-t5-large"
tokenizer = AutoTokenizer.from_pretrained(model_path)
model_path = "Anshul99/finetuned_model_final"
model = AutoModelForSeq2SeqLM.from_pretrained(model_path)


# Use GPU if available
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
model.to(device)
print(device) 


if "masked_text" not in df.columns:
    raise ValueError("The DataFrame must contain a 'processed_masked_text' column.")

df["masked_text"] = df["masked_text"].astype(str)

def preprocess_function(examples):
    prefix = (
        "Classify stance towards '[MASK]' as 'positive' (supporting/defending '[MASK]') or 'negative' (opposing/criticizing '[MASK]'). Sentence: "
    )
    inputs = [prefix + text for text in examples["masked_text"]]
    return tokenizer(inputs, truncation=True, padding="longest", max_length=512)

dataset = Dataset.from_pandas(df)
tokenized_dataset = dataset.map(preprocess_function, batched=True, remove_columns=dataset.column_names)
data_collator = DataCollatorWithPadding(tokenizer=tokenizer, return_tensors="pt")
batch_size = 64  
dataloader = DataLoader(tokenized_dataset, batch_size=batch_size, collate_fn=data_collator)
stance_predictions = []
model.eval()
with torch.no_grad():
    for batch in tqdm(dataloader, desc="Generating Predictions"):
        input_ids = batch["input_ids"].to(device)
        attention_mask = batch["attention_mask"].to(device)
        outputs = model.generate(input_ids=input_ids, attention_mask=attention_mask, max_length=2)
        decoded_preds = tokenizer.batch_decode(outputs, skip_special_tokens=True)
        stance_predictions.extend(decoded_preds)
df["stance"] = stance_predictions

cuda

Map: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3253/3253 [00:00<00:00, 3402.00 examples/s]
Generating Predictions: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 51/51 [01:21<00:00,  1.60s/it]

In [52]:
df["stance"].value_counts()

stance
positive    2066
negative    1187
Name: count, dtype: int64

In [53]:
result_df.shape

(3253, 4)

In [54]:
result_df = result_df.drop_duplicates(keep='first')
result_df.shape

(3252, 4)

In [55]:
result_df

,text,word,masked_text,stance
0,began as a practitioner.,practitioner,began as a [MASK].,negative
1,i was actually a first grade teacher in albuq...,research,i was actually a first grade teacher in albuq...,negative
2,i was actually a first grade teacher in albuq...,institution,i was actually a first grade teacher in albuq...,positive
3,and the thing that really transformed my care...,schools,and the thing that really transformed my care...,negative
4,"they asked, i had played my, we have another ...",education,"they asked, i had played my, we have another ...",positive
...,...,...,...,...
3248,it would be an interesting piece of work to u...,work,it would be an interesting piece of [MASK] to...,positive
3249,it would be an interesting piece of work to u...,work,it would be an interesting piece of work to u...,positive
3250,and have therefore been excluded from academi...,work,and have therefore been excluded from academi...,positive
3251,"yeah, no, i'm sure there are i can't believe ...",support,"yeah, no, i'm sure there are i can't believe ...",positive
3252,"yeah, no, i'm sure there are i can't believe ...",work,"yeah, no, i'm sure there are i can't believe ...",positive

In [56]:
df_interview['value'] = df_interview['value'].str.lower()

In [57]:
concat_df = pd.merge(df_interview, result_df, left_on='value', right_on='text', how='inner')

In [58]:
concat_df

,file_name,value,text,word,masked_text,stance
0,Participant 12,began as a practitioner.,began as a practitioner.,practitioner,began as a [MASK].,negative
1,Participant 12,i was actually a first grade teacher in albuq...,i was actually a first grade teacher in albuq...,research,i was actually a first grade teacher in albuq...,negative
2,Participant 12,i was actually a first grade teacher in albuq...,i was actually a first grade teacher in albuq...,institution,i was actually a first grade teacher in albuq...,positive
3,Participant 12,and the thing that really transformed my care...,and the thing that really transformed my care...,schools,and the thing that really transformed my care...,negative
4,Participant 12,"they asked, i had played my, we have another ...","they asked, i had played my, we have another ...",education,"they asked, i had played my, we have another ...",positive
...,...,...,...,...,...,...
3248,Participant 16,it would be an interesting piece of work to u...,it would be an interesting piece of work to u...,work,it would be an interesting piece of [MASK] to...,positive
3249,Participant 16,it would be an interesting piece of work to u...,it would be an interesting piece of work to u...,work,it would be an interesting piece of work to u...,positive
3250,Participant 16,and have therefore been excluded from academi...,and have therefore been excluded from academi...,work,and have therefore been excluded from academi...,positive
3251,Participant 16,"yeah, no, i'm sure there are i can't believe ...","yeah, no, i'm sure there are i can't believe ...",support,"yeah, no, i'm sure there are i can't believe ...",positive
3252,Participant 16,"yeah, no, i'm sure there are i can't believe ...","yeah, no, i'm sure there are i can't believe ...",work,"yeah, no, i'm sure there are i can't believe ...",positive

In [64]:
concat_df["stance"].value_counts()

stance
positive    2066
negative    1187
Name: count, dtype: int64

In [65]:
df=concat_df
import numpy as np
df['stance_value'] = df['stance'].map({'positive': 1, 'negative': -1})
grouped = df.groupby(['file_name', 'word'])['stance_value'].agg(['sum', 'count'])
grouped['positive_count'] = df[df['stance'] == 'positive'].groupby(['file_name', 'word'])['stance'].count()
grouped['negative_count'] = df[df['stance'] == 'negative'].groupby(['file_name', 'word'])['stance'].count()
grouped = grouped.fillna(0).astype(int)
grouped['final_sentiment'] = np.where(grouped['positive_count']> grouped['negative_count'], 1, 
                                      np.where(grouped['positive_count'] <= grouped['negative_count'], -1, 0))

In [67]:
grouped["final_sentiment"].value_counts()

final_sentiment
 1    422
-1    284
Name: count, dtype: int64

In [68]:
filtered_grouped = grouped[grouped['final_sentiment'] != 0]
normalized_df = filtered_grouped.reset_index()

In [69]:
normalized_df.head(40)

,file_name,word,sum,count,positive_count,negative_count,final_sentiment
0,Participant 1,academia,2,4,3,1,1
1,Participant 1,academics,5,19,12,7,1
2,Participant 1,analysis,-1,1,0,1,-1
3,Participant 1,comfortable,-1,1,0,1,-1
4,Participant 1,complex,-1,1,0,1,-1
5,Participant 1,contribute,-3,3,0,3,-1
6,Participant 1,contributing,2,2,2,0,1
7,Participant 1,direction,1,1,1,0,1
8,Participant 1,education,2,4,3,1,1
9,Participant 1,experience,2,10,6,4,1
10,Participant 1,field,0,2,1,1,-1
11,Participant 1,interested,-1,1,0,1,-1
12,Participant 1,knowledge,13,21,17,4,1
13,Participant 1,nature,-2,4,1,3,-1
14,Participant 1,opportunities,1,1,1,0,1
15,Participant 1,opportunity,1,1,1,0,1
16,Participant 1,perspective,1,1,1,0,1
17,Participant 1,practical,-3,5,1,4,-1
18,Participant 1,practice,4,4,4,0,1
19,Participant 1,practitioner,8,16,12,4,1
20,Participant 1,practitioners,4,12,8,4,1
21,Participant 1,research,0,8,4,4,-1
22,Participant 1,review,-1,1,0,1,-1
23,Participant 1,skills,1,1,1,0,1
24,Participant 1,sociology,-1,1,0,1,-1
25,Participant 1,sounds,1,1,1,0,1
26,Participant 1,theoretical,2,4,3,1,1
27,Participant 1,theoretician,0,4,2,2,-1
28,Participant 1,theoreticians,-6,6,0,6,-1
29,Participant 1,theories,0,2,1,1,-1
30,Participant 1,theory,1,9,5,4,1
31,Participant 1,thinking,0,2,1,1,-1
32,Participant 1,training,2,4,3,1,1
33,Participant 1,work,15,27,21,6,1
34,Participant 10,academics,-1,1,0,1,-1
35,Participant 10,academy,3,5,4,1,1
36,Participant 10,developing,-1,1,0,1,-1
37,Participant 10,education,2,2,2,0,1
38,Participant 10,field,8,10,9,1,1
39,Participant 10,interact,2,2,2,0,1

In [70]:
import pandas as pd

matrix = normalized_df.pivot(index='file_name', columns='word', values='final_sentiment')

matrix = matrix.fillna(0)

In [53]:
normalized_df

,file_name,word,sum,count,positive_count,negative_count,final_sentiment
0,Participant 1,academia,2,4,3,1,1
1,Participant 1,academics,5,19,12,7,1
2,Participant 1,analysis,-1,1,0,1,-1
3,Participant 1,comfortable,-1,1,0,1,-1
4,Participant 1,complex,-1,1,0,1,-1
...,...,...,...,...,...,...,...
701,Participant 9,theoretical,0,4,2,2,-1
702,Participant 9,theoretician,-3,3,0,3,-1
703,Participant 9,theoreticians,-1,3,1,2,-1
704,Participant 9,training,1,1,1,0,1
705,Participant 9,work,4,6,5,1,1

In [71]:
matrix

word,academia,academics,academy,activities,analysis,associate,challenges,collaborative,comfortable,complex,...,theoretician,theoreticians,theories,theorizing,theory,therapist,thinking,training,universities,work
file_name,,,,,,,,,,,,,,,,,,,,,
Participant 1,1.0,1.0,0.0,0.0,-1.0,0.0,0.0,0.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,0.0,1.0,0.0,-1.0,1.0,0.0,1.0
Participant 10,0.0,-1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-1.0,0.0,0.0,-1.0,0.0,0.0,-1.0,-1.0,1.0
Participant 11,-1.0,-1.0,0.0,-1.0,1.0,1.0,-1.0,0.0,0.0,0.0,...,-1.0,-1.0,1.0,0.0,-1.0,0.0,-1.0,1.0,-1.0,1.0
Participant 12,0.0,-1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-1.0,0.0,0.0,0.0,1.0,0.0,-1.0,1.0,1.0,1.0
Participant 13,-1.0,1.0,-1.0,-1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,-1.0,1.0,-1.0,1.0,0.0,1.0,1.0,-1.0,1.0
Participant 14,1.0,1.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,1.0,0.0,-1.0,1.0,0.0,1.0
Participant 15,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-1.0,-1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0
Participant 16,-1.0,-1.0,0.0,0.0,-1.0,0.0,-1.0,0.0,0.0,0.0,...,-1.0,1.0,0.0,0.0,-1.0,0.0,1.0,1.0,-1.0,1.0
Participant 17,1.0,0.0,0.0,0.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,...,1.0,-1.0,1.0,0.0,-1.0,1.0,1.0,1.0,0.0,1.0
Participant 18,-1.0,0.0,0.0,0.0,0.0,0.0,-1.0,-1.0,1.0,0.0,...,-1.0,-1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
Participant 19,1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,-1.0,0.0,0.0,-1.0,1.0,-1.0,1.0,-1.0,1.0
Participant 2,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,-1.0,1.0,0.0,0.0,-1.0,1.0,0.0,1.0,0.0,1.0
Participant 3,0.0,1.0,0.0,0.0,-1.0,1.0,0.0,-1.0,-1.0,-1.0,...,1.0,1.0,0.0,0.0,1.0,0.0,-1.0,1.0,0.0,1.0
Participant 4,0.0,-1.0,1.0,0.0,1.0,0.0,0.0,-1.0,0.0,0.0,...,-1.0,-1.0,1.0,0.0,1.0,0.0,-1.0,-1.0,0.0,1.0
Participant 5,1.0,1.0,0.0,0.0,1.0,0.0,-1.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0
Participant 6,-1.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,-1.0,1.0,0.0,1.0
Participant 7,0.0,1.0,0.0,0.0,0.0,0.0,-1.0,-1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.0,-1.0
Participant 8,0.0,0.0,-1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.0,0.0,0.0,0.0,1.0,-1.0,-1.0,0.0,0.0,-1.0
Participant 9,1.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,...,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [ ]:
matrix.to_csv("matrix_output.csv")

In [54]:
participant_groups = {
    "Participant 2": "Theoretician",
    "Participant 10": "Theoretician",
    "Participant 8": "Theoretician",
    "Participant 4": "Theoretician",
    
    "Participant 7": "Practitioner",
    "Participant 18": "Practitioner",
    "Participant 15": "Practitioner",
    "Participant 1": "Practitioner",
    "Participant 9": "Practitioner",
    "Participant 16": "Practitioner",
    "Participant 17": "Practitioner",
    "Participant 3": "Practitioner",
    "Participant 19": "Practitioner",

    "Participant 5": "Hybrid",
    "Participant 6": "Hybrid",
    "Participant 11": "Hybrid",
    "Participant 12": "Hybrid",
    "Participant 13": "Hybrid",
    "Participant 14": "Hybrid"
}

In [54]:
import pickle
import numpy as np
import pandas as pd
from scipy.sparse import rand

epsilon = 1e-10

def ANCOHITS(A, epsilon):
    maxIter = 100000
    length = np.size(A, 0)
    
    s1 = rand(length, 1, density=1, format='csr').toarray() 

    A_T = np.transpose(A)
    realmin = np.finfo(float).tiny  

    for i in range(maxIter):
        s1old = s1.copy()  
        
        
        T1 = np.abs(A_T).dot(np.abs(s1))
        divider_1 = np.add(T1, realmin)
        s2 = np.divide(A_T.dot(s1), divider_1)

        
        T2 = np.abs(A).dot(np.abs(s2))
        divider_2 = np.add(T2, realmin)
        s1 = np.divide(A.dot(s2), divider_2)

        diff = np.linalg.norm(s1 - s1old)
        if diff <= epsilon:
            break

    return s1, s2

A = matrix.to_numpy()
s1, s2 = ANCOHITS(A, epsilon)
print("s1 (User Scores):\n", s1)
print("s2 (Phrase Scores):\n", s2)

s1 (User Scores):
 [[ 0.49146029]
 [-0.00426833]
 [ 0.1831629 ]
 [ 0.6346967 ]
 [ 0.79883196]
 [ 0.39830515]
 [ 0.70380991]
 [ 0.75068844]
 [ 0.85955877]
 [ 0.74370848]
 [ 0.87891074]
 [ 0.08392188]
 [ 0.67363167]
 [-0.17199924]
 [ 0.9087487 ]
 [ 0.41795878]
 [ 0.41538321]
 [-0.10907826]
 [ 0.75108465]]
s2 (Phrase Scores):
 [[ 0.27370242]
 [ 0.31036316]
 [-0.26300282]
 [-0.85715363]
 [-0.0177027 ]
 [-0.26257644]
 [-1.        ]
 [-0.75494046]
 [-0.11022806]
 [-0.67122377]
 [ 0.38648417]
 [ 0.43452511]
 [-0.20273084]
 [ 0.03661792]
 [-0.03159153]
 [-1.        ]
 [ 0.75291936]
 [ 0.5800728 ]
 [ 0.54097314]
 [-0.05163457]
 [ 1.        ]
 [ 0.77194494]
 [-1.        ]
 [ 0.76251643]
 [-0.09827689]
 [ 1.        ]
 [-1.        ]
 [-0.60011708]
 [-0.32923227]
 [ 0.08625047]
 [-0.77292904]
 [-0.34115338]
 [ 0.18596783]
 [-1.        ]
 [ 0.93815734]
 [ 0.50365346]
 [-0.32814529]
 [ 0.19146522]
 [ 1.        ]
 [ 0.58097029]
 [-0.52075404]
 [ 0.13045563]
 [ 1.        ]
 [ 0.68667938]
 [ 0.82410373]
 [ 0.20798376]
 [ 0.01595308]
 [ 1.        ]
 [ 0.59447651]
 [ 0.68058074]
 [ 0.43718074]
 [ 0.50583497]
 [ 0.65139683]
 [ 0.92010121]
 [ 0.30827115]
 [-0.14586934]
 [ 0.00303427]
 [ 0.45317458]
 [ 0.61642409]
 [ 0.94408566]
 [-0.64845943]
 [ 1.        ]
 [-0.31993011]
 [-0.20990413]
 [ 1.        ]
 [-0.24360414]
 [ 0.21091358]
 [ 0.63467487]
 [ 0.39536957]
 [-0.2049938 ]
 [-0.32096621]
 [-0.1217069 ]
 [-0.33405515]
 [-0.06478847]
 [ 0.67379651]
 [-0.04768336]
 [ 1.        ]
 [ 0.16324284]
 [ 0.91098279]
 [-0.18100889]
 [-0.22687009]
 [ 0.70743907]
 [-1.        ]
 [ 0.24716612]
 [ 1.        ]
 [ 0.19515249]
 [ 1.        ]
 [-0.14690792]
 [ 0.8814233 ]]

In [55]:
import pandas as pd

# Map user IDs to their scores
user_scores = pd.DataFrame(s1, index=matrix.index, columns=['Score'])
user_scores['User/Entity'] = user_scores.index

# Map phrases to their scores
phrase_scores = pd.DataFrame(s2, index=matrix.columns, columns=['Score'])
phrase_scores['User/Entity'] = phrase_scores.index

user_scores = user_scores[['User/Entity', 'Score']]
phrase_scores = phrase_scores[['User/Entity', 'Score']]

combined_scores = pd.concat([user_scores, phrase_scores], ignore_index=True)

combined_scores.to_csv('combined_scores.csv', index=False)

print("Combined scores saved to 'combined_scores.csv'")

Combined scores saved to 'combined_scores.csv'

In [56]:
# Map user IDs to their scores
user_scores = pd.DataFrame(s1, index=matrix.index, columns=['Score'])

# Map phrases to their scores
phrase_scores = pd.DataFrame(s2, index=matrix.columns, columns=['Score'])

print("User Scores:")
print(user_scores)

print("Phrase Scores:")
print(phrase_scores)

User Scores:
                   Score
file_name
Participant 1   0.491460
Participant 10 -0.004268
Participant 11  0.183163
Participant 12  0.634697
Participant 13  0.798832
Participant 14  0.398305
Participant 15  0.703810
Participant 16  0.750688
Participant 17  0.859559
Participant 18  0.743708
Participant 19  0.878911
Participant 2   0.083922
Participant 3   0.673632
Participant 4  -0.171999
Participant 5   0.908749
Participant 6   0.417959
Participant 7   0.415383
Participant 8  -0.109078
Participant 9   0.751085
Phrase Scores:
                 Score
word
academia      0.273702
academics     0.310363
academy      -0.263003
activities   -0.857154
analysis     -0.017703
...                ...
therapist     1.000000
thinking      0.195152
training      1.000000
universities -0.146908
work          0.881423

[89 rows x 1 columns]

In [57]:
us=user_scores.copy()
us.reset_index(inplace=True)
us.columns = ['user_id', 'score']
us = us[['user_id', 'score']]

In [58]:
us_sorted = us.sort_values(by='score')

In [59]:
us_sorted

           user_id     score
13   Participant 4 -0.171999
17   Participant 8 -0.109078
1   Participant 10 -0.004268
11   Participant 2  0.083922
2   Participant 11  0.183163
5   Participant 14  0.398305
16   Participant 7  0.415383
15   Participant 6  0.417959
0    Participant 1  0.491460
3   Participant 12  0.634697
12   Participant 3  0.673632
6   Participant 15  0.703810
9   Participant 18  0.743708
7   Participant 16  0.750688
18   Participant 9  0.751085
4   Participant 13  0.798832
8   Participant 17  0.859559
10  Participant 19  0.878911
14   Participant 5  0.908749

In [61]:
ground_truth = {
    "Participant 8": 'theory', "Participant 4": 'theory', "Participant 2": 'theory', "Participant 10": 'theory',
    "Participant 19": 'practitioner', "Participant 3": 'practitioner', "Participant 17": 'practitioner', "Participant 16": 'practitioner',
    "Participant 9": 'practitioner', "Participant 1": 'practitioner', "Participant 15": 'practitioner', "Participant 18": 'practitioner', "Participant 7": 'practitioner'
}

predicted_classification = {}
for idx, user_id in enumerate(us_sorted['user_id']):
    if idx < 4:
        predicted_classification[user_id] = 'theory'
    elif idx >= len(us_sorted) - 9:
        predicted_classification[user_id] = 'practitioner'

# Calculate accuracy
correct_predictions = sum(1 for user_id in predicted_classification if user_id in ground_truth and predicted_classification[user_id] == ground_truth.get(user_id, None))
total_predictions = len(predicted_classification)
accuracy = correct_predictions / total_predictions if total_predictions > 0 else 0

print(f'Accuracy: {accuracy:.2%}')

Accuracy: 84.62%

In [62]:
phrase_scores.reset_index(inplace=True)
phrase_scores.columns = ['word', 'score']
phrase_sorted = phrase_scores.sort_values(by='score')

In [63]:
phrase_sorted = phrase_scores.sort_values(by='score')

In [64]:
phrase_sorted

            word  score
6     challenges   -1.0
15  difficulties   -1.0
26        hybrid   -1.0
22   experienced   -1.0
33   interviewed   -1.0
..           ...    ...
20   engineering    1.0
64       schools    1.0
76      theology    1.0
84     therapist    1.0
86      training    1.0

[89 rows x 2 columns]

In [65]:
us_sorted.to_excel('all_users.xlsx', index=False)
phrase_sorted.to_excel('all_phrase.xlsx', index=False)